# This hosts file for DD-WRT Routers with DNSMasq is brought to you by Mitchell Krog
# Copyright: https://github.com/mitchellkrogza
# Source: https://github.com/mitchellkrogza/Badd-Boyz-Hosts

##################################################################################
#                                                                                #
#        ___          __   __    ___                    __ __         __         #
#       / _ )___ ____/ /__/ /   / _ )___  __ _____     / // /__  ___ / /____     #
#      / _  / _ `/ _  / _  /   / _  / _ \/ // /_ /    / _  / _ \(_-</ __(_-<     #
#     /____/\_,_/\_,_/\_,_/   /____/\___/\_, //__/   /_//_/\___/___/\__/___/     #
#                                       /___/                                    #
##################################################################################


# You are free to copy and distribute this file for non-commercial uses,
# as long the original URL and attribution is included. 

# Please forward any additions, corrections or comments by logging an issue at
# https://github.com/mitchellkrogza/Badd-Boyz-Hosts/issues

# This list of hosts is compiled from server logs on my own servers
# and forms the basis of the bad referrers domain lists for
# The Nginx Ultimate Bad Bot Blocker at: 
# https://github.com/mitchellkrogza/nginx-ultimate-bad-bot-blocker
# and the Apache Ultimate Bad Bot Blocker at:
# https://github.com/mitchellkrogza/apache-ultimate-bad-bot-blocker

##### Version Information #
###################################################
### Version: V1.2020.04.8308
##### Version Information ##

# Use this file to prevent your computer or server from connecting to selected
# internet hosts. This is an easy and effective way to protect you from 
# many types of spyware, adware, malware, click-jacking and porn sites and reduces 
# bandwidth use. 

# START DNSMASQ LIST ### DO NOT EDIT THIS LINE AT ALL ###
address=/amorepaixaomensagens.com.br/
# END DNSMASQ LIST ### DO NOT EDIT THIS LINE AT ALL ###
